<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ti22_a1_mgs">

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         id permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/MGS_API_MAPS_KEY" />
        <activity android:name=".Boundaries.MapsActivity" android:screenOrientation="portrait"/>
        <activity android:name=".Boundaries.SettingsActivity" android:screenOrientation="portrait"/>
        <activity android:name=".Boundaries.PoiActivity" android:screenOrientation="portrait"/>
        <activity android:name=".Boundaries.HelpActivity" android:screenOrientation="portrait"/>
        <activity android:name=".Boundaries.RouteActivity" android:screenOrientation="portrait"/>
        <activity android:name=".Boundaries.MainActivity" android:screenOrientation="portrait">
        <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>